# env vars and keys
*.key

# financial documents
*.pdf
*.csv

# dev
*.ipynb
*.txt
.coverage
.python-version
Brewfile.*
__pycache__
_ignore*
dist

# allowed pdf files/fixtures
!tests/integration/banks/**/raw.csv
!tests/integration/banks/**/transformed.csv
!tests/integration/banks/**/*.pdf
!tests/unit/test_cli/**/*.pdf
!**/examples/*.pdf
