*.pdf
*.ipynb
*.csv
.python-version
Brewfile.lock.json
__pycache__
.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
credentials.json
token.json
_ignore*
*.tfvars
!tests/fixtures/*/**
!tests/fixtures/*.pdf

# john files
john.log
.hash
.pot
