name: ci

on:
  pull_request:
  push:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pdftotext
        run: |
          sudo apt-get update
          sudo apt-get install build-essential libpoppler-cpp-dev pkg-config ocrmypdf

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        run: |
          uv venv
          uv sync --all-extras

      - name: Run CI
        run: |
          uv run task format
          uv run task lint
          uv run task mypy
